[submodule "external/dicm2nii"]
	path = external/dicm2nii
	url = https://github.com/xiangruili/dicm2nii
[submodule "external/spm12"]
	path = external/spm12
	url = https://github.com/spm/spm12
[submodule "external/BrainNet-Viewer"]
	path = external/BrainNet-Viewer
	url = https://github.com/mingruixia/BrainNet-Viewer
